*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #ffffff;
  min-height: 100vh;
  scroll-behavior: smooth;
  outline: none;
}

.wrapper {
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;

}

.header {
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
  background: url("../../assets/img/1.header/header_bg.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.content-header {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  position: relative;
  @media (max-width: 1025px) {
    max-width: 769px;
    padding: 0 10px;

  }
  @media (max-width: 768px) {
    max-width: 380px;
    padding: 0 30px;
  }

}

.header-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 540px;
  width: 40%;
  min-width: 435px;
  @media (max-width: 1025px) {
    min-width: 350px;
  }
  @media (max-width: 768px) {
    min-width: unset;
    flex-flow: column;
    width: 100%;
  }
}

.header-elements_header {
  @media (max-width: 768px) {
    display: none;
    margin-top: 20px;
    align-self: center;
    width: 100%;
  }
}

.header-element {
  margin-right: 7px;
  cursor: pointer;
  transition: ease-in-out all 0.3s;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    font-size: 16px;
    margin-right: 0;
    margin-top: 20px;
  }
}

.header-num {
  cursor: pointer;
  transition: ease-in-out all 0.3s;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    font-size: 20px;
    margin-top: 0;
  }
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 47px;
  font-size: 18px;
  color: #ffffff;
  position: relative;
  @media (max-width: 1025px) {
    font-size: 14px;
    margin-top: 20px;
  }
  @media (max-width: 768px) {
    margin-top: 40px;

    &.active {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      flex-flow: column;
      margin-top: 0;
      padding: 40px calc((100% - 320px) / 2) 30px;
      align-items: flex-start;
      justify-content: flex-start;
      z-index: 30;
      background: #a0817f;

      .header-elements {
        display: flex;
      }

      .header-right {
        display: flex;
      }
    }
  }
  @media (max-width: 374px) {
    &.active {
      padding: 40px 30px 30px;
    }
  }
}

.header-logo-wrapper {
  width: 153px;
  height: 55px;
  transition: 0.3s all ease-in-out;
  margin-right: 50px;

  &:hover {
    opacity: 0.7;
  }

  @media (max-width: 1025px) {
    margin-right: 20px;
  }

  @media (max-width: 768px) {
    position: relative;
  }
}

.header-logo {
  width: 100%;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;

  @media (max-width: 1025px) {
    flex-flow: column-reverse;
    align-items: center;
  }
  @media (max-width: 768px) {
    flex-flow: column;
    margin: 20px 0 0;
    width: 100%;
  }
}

.header-right_header {
  @media (max-width: 768px) {
    display: none;
  }
}

.header-menu-btn {
  margin-left: 25px;
  width: 181px;
  @media (max-width: 1025px) {
    margin-bottom: 15px;
    margin-left: 0;
  }
  @media (max-width: 768px) {
    margin: 20px 0 0;
  }
}

.burger-menu {
  display: none;

  width: 29px;
  height: 3px;
  background: #ffffff;
  margin-left: auto;
  position: relative;
  transition: 0.3s all ease-in-out;

  &::after, &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: #ffffff;
    transition: 0.3s all ease-in-out;
  }

  &::before {
    top: -9px;
    left: 0;
  }

  &::after {
    bottom: -9px;
    left: 0;
  }

  &.active {
    background: transparent;
    z-index: 50;
    position: absolute;
    top: 65px;
    right: calc((100% - 320px) / 2);

    &::before {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }

  @media (max-width: 768px) {
    display: flex;
  }
  @media (max-width: 374px) {
    &.active {
      right: 30px;
    }
  }
}

.header-bottom {
  margin: 167px 0 176px 50px;
  z-index: 5;
  @media (max-width: 768px) {
    margin: 80px 0 300px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-self: center;

  }
}

.header-title {
  color: #ffffff;
  font-weight: 700;
  line-height: 48px;
  font-size: 50px;
  max-width: 400px;
  width: 100%;
  @media (max-width: 768px) {

    font-size: 30px;
    text-align: center;
    line-height: normal;

  }

}

.header-text {
  font-size: 24px;
  color: #ffffff;
  margin-top: 23px;
  max-width: 490px;
  width: 100%;
  @media (max-width: 768px) {
    font-size: 14px;
    text-align: center;
    margin-top: 17px;

  }
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  margin-top: 35px;
  text-decoration: none;
  @media (max-width: 768px) {
    margin: 20px auto;
  }
}

.header-img-wrapper {
  position: absolute;
  bottom: -10px;
  right: 5%;
  width: 816px;


  @media (max-width: 1025px) {
    right: -5%;
    bottom: -5px;

  }
  @media (max-width: 768px) {
    left: -20%;
    right: unset;
    width: 400px;
  }
}

.header-img {
  width: 100%;
}

